@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background: rgb(51, 159, 217);
    background: linear-gradient(267deg, rgba(51, 159, 217, 1) 0%, rgba(4, 1, 137, 1) 50%, rgba(2, 1, 59, 1) 84%);
}

.header {
    width: 100%;
    background-color: #364DAA;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #040189;
    font-size: 20px;
}

.container_header {
    height: 100%;
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a:link {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: #5F9EA0;
}

a {
    text-decoration: none;
    color: white;
}

.opcPrincipais {
    width: 31%;
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 0px;
    padding: 0px;
    font-weight: bold;
}

.imagem1 {
    display: flex;
    align-items: center;
    margin-top: 17px;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container-kpi {
    display: flex;
    margin: 15px;
    justify-content: space-around;
    width: 75%;
}

.kpi {
    background-color: #ffffff;
    border-radius: 5px;
    height: 95px;
    width: 230px;
    padding: 5px;
    color: #364DAA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kpi span {
    font-size: 37px;
}

.kpi p {
    font-size: 16px;
    color: #800160;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder
}

.container-chart {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    ;

}

.chart {
    flex-direction: column;
    width: 45%;
}

.chart .alerta {
    width: fit-content;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;

}

.chart b {
    color: rgb(115, 202, 231)
}

.chart p {
    margin-top: 2px;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 13px;
    border-radius: 10px;
}

.container-chart p {
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
}


::-webkit-scrollbar {
    display: none;








}